$baseline: 4px;

$colors: (
    //primary actions like buttons and links
    primary: #1DD3D2,
    primarysecond: #96DED0,
    primarythird: #59D9C0,
    primaryfourth: #F6FFFF,
    //
    secondary: #FCBF49,
    secondary-second: #EFD6A7,
    secondary-third: #F5CB78,
    // card background light
    default: #FCFCFD,
    // card background
    light-gray: #F4F5F8,
    // disabled, inactive
    inactive: #CACCCF,
    //loading
    loading: #C0C0C0,
    //line
    line: #EDEDED,
    category: #E5E5E5,
    // paragraphs, etc.
    gray: #52575C,
    // titles, sections
    black: #131416,
    // error warning
    warning: #FB4E4E,
    warning-second: #E93C3C,
    // success
    positive: #7BEB66,
    positive-second: #7BEB66,
    white: #FFFFFF,
    gray2: #C4C4C4,
    gray3: #828282,
    gray4: #E9E9E9,
    gray5: #BDBDBD, 
    gray6: #F2F2F2,
    searchtext: #A9A9A9,

    fb-color: #2F80ED ,
    gmail-color:#2D9CDB
);